@font-face {
    font-family: 'roboto_slabregular';
    src: url('robotoslab-regular-webfont.woff2') format('woff2'),
         url('robotoslab-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
	margin:0;
	padding:0;
	position:relative;
	font-family: 'roboto_slabregular';
}

table{
	margin:0 auto;
	width:1024px;
	padding:10px;
	color:#E51636;
}

a{
	text-decoration:none;
}

a:link{
	color:#E51636;
}

a:hover{
	color:gray;
}

img[alt="logo"]{
	width:156.997px;
	height:70.894px;
}

img[alt="breakfast"]{
	width:310.388px;
	height:310.388px;
}

img[alt="entrees"]{
	width:310.388px;
	height:310.388px;
}

img[alt="sides"]{
	width:310.388px;
	height:310.388px;
}

img[alt="drinks"]{
	width:310.388px;
	height:310.388px;
}

#menusection{
	position:relative;
}

#home{
	color:white;
	margin:0 auto;
	position:relative;
	top:-200px;
	font-size:2em;
}

#menu{
	text-align: left;
	margin:0 auto;
	width:1000px;
	color:#E51636;
}

.menutext{
	position:relative;
	left:350px;
	top:-300px;
}

hr{
	margin:0 auto;
	align-content: center;
	width:100%;
}

#eggsandwich{
	margin:0 auto;
	color:black;
	height:330px;
}

#chickensandwich{
	margin:0 auto;
	color:black;
	height:350px;
}

#fries{
	margin:0 auto;
	color:black;
	height:330px;
}

#lemonade{
	margin:0 auto;
	color:black;
	height:350px;
}

#aboutsection{
	width:1024px;
	margin:0 auto;
}

.pic{
	width:336px;
	height:290px;
}

#history{
	margin:0 auto;
	width:1024px;
	color:#E51636;
}

.text{
	color:black;
}

#storiessection{
	width:1024px;
	margin:0 auto;
}

#stories{
	margin:0 auto;
	width:1024px;
	color:#E51636;
}

#locationssection{
	width:1024px;
	margin:0 auto;
}

#locations{
	margin:0 auto;
	width:1024px;
	color:#E51636;
	height:500px;
}

#lastsection{
	margin:0 auto;
	width:1024px;
	position:relative;
	height:100px;
}

#map{
	position:relative;
	left:420px;
	top:-440px;
}
